{% extends 'base.html.twig' %}

{% block title %}Редактирование страны, союза, организации{% endblock %}

{% block body %}
    <a href="{{ path('sanction_list_admin_country_index') }}" class="btn btn-link">К списку стран</a>
    <h1>Редактирование страны, союза, организации</h1>

    {{ include('country/_form.html.twig', {'button_label': 'Сохранить', 'is_edit': true}) }}
{% endblock %}
